button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #5396dd;
    color: #fff;
    cursor: pointer;
}

button:hover {
    border: 2px solid black;
}

h1{
    text-align: center;
}